<ul class="flex flex-col gap-4">
  {% for board in boards %}
  <li>
    <span class="text-accent-a">></span>
    <a
      href=""
      class="hover:underline"
      >{{ board.board_name }}</a
    >
    <span class="text-medium text-sm">{{ [board.board_id] }}</span>
  </li>
  {% endfor %}
</ul>
