<header class="border-b-2 w-full py-2">
  <nav
    class="grid grid-cols-2 md:grid-cols-4 sm:grid-cols-3 auto-rows-auto gap-2"
  >
    {% for link in ["landing", "board_index",] %}
    <div>
      <span class="text-accent-a">></span>
      <a
        href="/pages/{{ link }}"
        class="hover:underline"
        >{{ link }}</a
      >
    </div>
    {% endfor %}
  </nav>
</header>
